@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url("/font/Roboto.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("/font/Poppins.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("/font/Ubuntu.ttf");
}

/* 
  Mobile Slide Width 
*/
.customWidth {
  width: 75% !important;
}
